h1{
    color: orangered;
}

body {
    background-color: black;
}

p{
    color: white;
}

img{
    float: right;
}

.row{
    color: white;
}

.row2{
    color: white;
}

table,th,tr{
    border: 1px solid white;
    width: 50%;
    border-collapse:collapse;
}

label, select{
    color: white;
}

form, fieldset{
    background-color: red;
}

fieldset {
    background-color: green;
}
